body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2effd;
}

.app-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg, #ffcccb, #f3e5f5, #bbdefb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  border-radius: 8px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.image-placeholder {
  background-color: #ffffff;
  border-radius: 50%;
  border: 10px solid #8bc34a;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-placeholder span {
  font-size: 18px;
  color: #555;
}