body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #353839 65%, #f2effd);
}

.app-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  height: 300px;
  width: 300px;
  font-size: 50px;
  background: linear-gradient(90deg, #ffcccb, #f3e5f5, #bbdefb, #251f5d, #0ceb74, #e95505);
  background-size: 200% 200%;

  animation: Animation 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background-position: 91% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background-position: 10% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

@keyframes Animation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.image-placeholder {
  --angle: 0deg;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 70px solid transparent;
  background-image: linear-gradient(#f2effd, #f2effd), conic-gradient(from var(--angle), red, orange, yellow, green, blue, navy, purple, red);
  background-clip: content-box, border-box;
  background-origin: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: image-placeholder-border-animation 30s linear infinite;
}

@keyframes image-placeholder-border-animation {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.image-placeholder span {
  font-size: 18px;
  color: #555;
}